{% load static %}
{% include 'base.html' %}
{% block content %}
<!-- starts -->
<div class="loader-wrapper">
    <div class="loader">
        <div class="loader4"></div>
    </div>
</div>
<!-- loader ends-->
<!-- tap on top starts-->
<div class="tap-top"><i data-feather="chevrons-up"></i></div>
<!-- tap on tap ends-->
<!-- page-wrapper Start-->
<div class="page-wrapper compact-wrapper" id="pageWrapper">
    <!-- Page Header Start-->
    <div class="page-header">
        <div class="header-wrapper row m-0">
            <form class="form-inline search-full col" action="#" method="get">
                <div class="form-group w-100">
                    <div class="Typeahead Typeahead--twitterUsers">
                        <div class="u-posRelative">
                            <input class="demo-input Typeahead-input form-control-plaintext w-100" type="text" placeholder="Search Riho .." name="q" title="" autofocus="">
                            <div class="spinner-border Typeahead-spinner" role="status"><span class="sr-only">Loading... </span></div>
                            <i class="close-search" data-feather="x"></i>
                        </div>
                        <div class="Typeahead-menu"></div>
                    </div>
                </div>
            </form>
            <!-- Additional header content here -->
        </div>
    </div>
    <!-- Page Header Ends -->
    <!-- Page Body Start -->
    <div class="page-body-wrapper">
        {% include 'sidebar.html' %}
        <!-- Page Sidebar Starts -->
        <!-- Page Sidebar Ends -->
        <div class="page-body">
            <div class="container-fluid">
                <div class="page-title">
                    <div class="row">
                        <div class="col-6">
                            <h4>Binanı əlavə et</h4>
                        </div>
                        <div class="col-6">
                            <ol class="breadcrumb">
                                {% for crumb in breadcrumbs %}
                                    <li class="breadcrumb-item">
                                        <a href="{{ crumb.url }}">
                                            {% if crumb.url %}
                                                {{ crumb.title }}
                                            {% else %}
                                                <span>{{ crumb.title }}</span>
                                            {% endif %}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Container-fluid starts -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row g-xl-5 g-3">
                                    <div class="col-xxl-9 col-xl-8 box-col-8 position-relative">
                                        <div class="tab-content" id="add-branch-pills-tabContent">
                                            <div class="tab-pane fade show active" id="detail-branch" role="tabpanel" aria-labelledby="detail-branch-tab">
                                                <div class="sidebar-body">
                                                    <form class="row g-2" method="post" enctype="multipart/form-data" action="{% url 'branch-add' %}">
                                                        {% csrf_token %}
                                                        <div class="col-12">
                                                            {{ form.as_p }}
                                                        </div>
                                                        <div class="col-12">
                                                            <!-- Formset Management Form -->
                                                            {{ cameras_formset.management_form }}
                                                            <fieldset>
                                                                <legend>Cameras</legend>
                                                                <div id="cameras-formset">
                                                                    {% for form in cameras_formset %}
                                                                        <div class="camera-form">
                                                                            {{ form.as_p }}
                                                                            {% if form.instance.pk %}
                                                                                <button type="button" class="remove-form btn btn-danger">Remove</button>
                                                                            {% endif %}
                                                                        </div>
                                                                    {% endfor %}
                                                                </div>
                                                                <button type="button" id="add-camera-form" class="btn btn-success">Add Another Camera</button>
                                                            </fieldset>
                                                        </div>
                                                        <div class="col-12 mt-3">
                                                            <button class="btn btn-primary" type="submit">Saxla</button>
                                                            <a class="btn btn-secondary" href="{% url 'branches' %}">Ləğv et</a>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Container-fluid Ends -->
        </div>
        {% include "footer.html" %}
        <!-- footer start -->
    </div>
</div>

<!-- JavaScript to handle dynamic form management -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
$(document).ready(function () {
    var formCount = {{ cameras_formset.total_form_count }};
    
    function addForm() {
        var formHtml = $('#cameras-formset .camera-form:last').clone();
        formHtml.find(':input').each(function() {
            var name = $(this).attr('name').replace(/-\d+-/, '-' + formCount + '-');
            $(this).attr('name', name).val('');
        });
        formHtml.find('.remove-form').show();
        $('#cameras-formset').append(formHtml);
        formCount++;
        updateManagementForm();
    }

    function updateManagementForm() {
        $('#id_form-TOTAL_FORMS').val(formCount);
    }

    $('#add-camera-form').click(function () {
        addForm();
    });

    $('#cameras-formset').on('click', '.remove-form', function () {
        $(this).closest('.camera-form').remove();
        updateManagementForm();
    });
});
</script>
{% endblock %}
