{% load static %}
{% include 'base.html' %}

{% block content %}
<!-- Loader starts -->
<div class="loader-wrapper">
    <div class="loader">
        <div class="loader4"></div>
    </div>
</div>
<!-- Loader ends -->

<!-- Tap on top starts -->
<div class="tap-top"><i data-feather="chevrons-up"></i></div>
<!-- Tap on top ends -->

<!-- Page-wrapper Start -->
<div class="page-wrapper compact-wrapper" id="pageWrapper">
    {% include 'header.html' %}

    <div class="page-body-wrapper">
        {% include 'sidebar.html' %}

        <div class="page-body">
            <div class="container-fluid">
                <div class="page-title">
                    <div class="row">
                        <div class="col-6">
                            <h4>Mənzil əlavə et</h4>
                        </div>
                        <div class="col-6">
                            <ol class="breadcrumb">
                                {% for crumb in breadcrumbs %}
                                    <li class="breadcrumb-item">
                                        <a href="{{ crumb.url }}">
                                            {{ crumb.title }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row"> 
                    <div class="col-12"> 
                        <div class="card"> 
                            <div class="card-body">
                                <form class="row g-2" method="post" action="{% url 'flat-add' %}" enctype="multipart/form-data">
                                    {% csrf_token %}
                                
                                    <div class="col-12">
                                        <label for="{{ form.building.id_for_label }}">Bina</label>
                                        {{ form.building }}
                                        {% if form.building.errors %}
                                            <div class="invalid-feedback">{{ form.building.errors }}</div>
                                        {% endif %}
                                    </div>

                                    <div class="col-12">
                                        <label for="{{ form.section.id_for_label }}">Blok</label>
                                        {{ form.section }}
                                        {% if form.section.errors %}
                                            <div class="invalid-feedback">{{ form.section.errors }}</div>
                                        {% endif %}
                                    </div>
                                    <div class="col-12">
                                        <label for="{{ form.name.id_for_label }}">Mənzil Adı</label>
                                        {{ form.name }}
                                        {% if form.name.errors %}
                                            <div class="invalid-feedback">{{ form.name.errors }}</div>
                                        {% endif %}
                                    </div>
                                    <div class="col-12">
                                        <label for="{{ form.square_metres.id_for_label }}">Sahəsi</label>
                                        {{ form.square_metres }}
                                        {% if form.square_metres.errors %}
                                            <div class="invalid-feedback">{{ form.square_metres.errors }}</div>
                                        {% endif %}
                                    </div>

                                    <div class="col-12">
                                        <label for="{{ form.is_rent.id_for_label }}">İcarə</label>
                                        {{ form.is_rent }}
                                    </div>

                                    <div class="col-12" id="tenant-document-field" style="display: none;">
                                        <label for="{{ form.tenant_document.id_for_label }}">İcarəçi sənədi</label>
                                        {{ form.tenant_document }}
                                        {% if form.tenant_document.errors %}
                                            <div class="invalid-feedback">{{ form.tenant_document.errors }}</div>
                                        {% endif %}
                                    </div>

                                    <div class="col-12">
                                        <label for="{{ form.owner_document.id_for_label }}">Sahibkar sənədi</label>
                                        {{ form.owner_document }}
                                        {% if form.owner_document.errors %}
                                            <div class="invalid-feedback">{{ form.owner_document.errors }}</div>
                                        {% endif %}
                                    </div>

                                    <div class="col-12 mt-3">
                                        <button class="btn btn-primary" type="submit">Saxla</button>
                                        <a class="btn btn-secondary" href="{% url 'buildings' %}">Ləğv et</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        {% include 'footer.html' %}
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Select elements
        var buildingSelect = document.getElementById('id_building');
        var sectionSelect = document.getElementById('id_section');

        // Handle building selection
        buildingSelect.addEventListener('change', function() {
            var buildingId = this.value;
            if (buildingId) {
                // AJAX request to fetch sections based on building ID
                fetch("{% url 'section_autocomplete' %}?building_id=" + buildingId)
                    .then(response => response.json())
                    .then(data => {
                        // Clear existing options
                        sectionSelect.innerHTML = '';
                        sectionSelect.append(new Option('Select a section', ''));

                        // Add new options from the response
                        data.results.forEach(function(section) {
                            sectionSelect.append(new Option(section.text, section.id));
                        });
                    });
            } else {
                sectionSelect.innerHTML = '';
                sectionSelect.append(new Option('Select a section', ''));
            }
        });

        // Manage visibility of tenant document field
        var isRentCheckbox = document.querySelector('input[name="is_rent"]');
        var tenantDocumentField = document.getElementById('tenant-document-field');

        function toggleTenantDocument() {
            tenantDocumentField.style.display = isRentCheckbox.checked ? 'block' : 'none';
        }

        toggleTenantDocument();
        if (isRentCheckbox) {
            isRentCheckbox.addEventListener('change', toggleTenantDocument);
        }
    });
</script>

{% endblock %}
