{% load static %}
{% include 'base.html' %}
{% block content %}
    <!-- Loader -->
    <div class="loader-wrapper">
      <div class="loader"> 
        <div class="loader4"></div>
      </div>
    </div>
    <!-- Loader Ends -->

    <!-- Tap on Top -->
    <div class="tap-top"><i data-feather="chevrons-up"></i></div>
    <!-- Tap on Top Ends -->

    <!-- Page Wrapper -->
    <div class="page-wrapper compact-wrapper" id="pageWrapper">
      <!-- Page Header -->
      {% include 'header.html' %}
      <!-- Page Header Ends -->

      <!-- Page Body -->
      <div class="page-body-wrapper">
        {% include 'sidebar.html' %}
        <div class="page-body">
          <div class="container-fluid">
            <div class="page-title">
              <div class="row">
                <div class="col-6">
                  <h4>Filiallar</h4>
                </div>
                <div class="col-6">
                  <ol class="breadcrumb">
                      {% for crumb in breadcrumbs %}
                          <li class="breadcrumb-item">
                              <a href="{{ crumb.url }}">
                                  {% if crumb.url %}
                                      {{ crumb.title }}
                                  {% else %}
                                      <span>{{ crumb.title }}</span>
                                  {% endif %}
                              </a>
                          </li>
                      {% endfor %}
                  </ol>
                </div>
              </div>
            </div>
          </div>

          <!-- Container-fluid starts -->
          <div class="container-fluid">
            <div class="row"> 
              <div class="col-sm-12"> 
                <div class="card"> 
                  <div class="card-body">
                                {% if messages %}
                                    <div class="alert alert-info">
                                        {% for message in messages %}
                                            <p>{{ message }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                    <div class="list-product-header">
                      <div> 
                        <a class="btn btn-primary" href="{% url 'branch-add' %}"><i class="fa fa-plus"></i>Filial əlavə et</a>
                      </div>
                      <div class="collapse" id="collapseProduct">
                        <!-- Add filters or additional options here if needed -->
                      </div>
                    </div>
                    <div class="list-product">
                      <table class="table" id="branch-status">
                        <thead>
                          <tr>
                            <th><span class="f-light f-w-600">Filial adı</span></th>
                            <th><span class="f-light f-w-600">Adress</span></th>
                            <th><span class="f-light f-w-600">Email</span></th>
                            <th><span class="f-light f-w-600">WhatsApp Link</span></th>
                            <th><span class="f-light f-w-600">Telegram Link</span></th>
                            <th><span class="f-light f-w-600">Camera URL</span></th>
                            <th><span class="f-light f-w-600">Komendant</span></th>
                            <th><span class="f-light f-w-600">Binalar</span></th>
                            {% comment %} <th><span class="f-light f-w-600">Actions</span></th> {% endcomment %}
                          </tr>
                        </thead>
                        <tbody>
                          {% for branch in branches %}
                          <tr class="branch-removes">
                            <td><a href="{% url 'branch-detail' branch.id %}">{{ branch.name }}</a></td>
                            <td><p class="f-light">{{ branch.address }}</p></td>
                            <td><p class="f-light">{{ branch.email }}</p></td>
                            <td><p class="f-light">{{ branch.whatsapp_link }}</p></td>
                            <td><p class="f-light">{{ branch.telegram }}</p></td>
                            <td>
                              <div class="d-flex align-items-center">
                                <p class="f-light mb-0 me-2">{{ branch.camera_count }}</p>
                                <a href="{% url 'camera-list' branch.id %}" class="me-2 icon-align">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye">
                                    <path d="M1 12s3-9 11-9 11 9 11 9-3 9-11 9S1 12 1 12z"></path>
                                    <circle cx="12" cy="12" r="3"></circle>
                                  </svg>
                                </a>
                                <a href="{% url 'camera-add' branch.id %}" class="icon-align">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus">
                                    <line x1="12" y1="5" x2="12" y2="19"></line>
                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                  </svg>
                                </a>
                              </div>
                          </td>
                            <td>
                                <div class="d-flex align-items-center">
                                  <p class="f-light mb-0 me-2">{{ branch.commandant_count }}</p>
                                  <a href="{% url 'commandant-list' branch.id %}" class="me-2 icon-align">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye">
                                      <path d="M1 12s3-9 11-9 11 9 11 9-3 9-11 9S1 12 1 12z"></path>
                                      <circle cx="12" cy="12" r="3"></circle>
                                    </svg>
                                  </a>
                                  {% if branch.building_count > 0 %}
                                  <a href="{% url 'commandant-add' branch.id %}" class="icon-align">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus">
                                      <line x1="12" y1="5" x2="12" y2="19"></line>
                                      <line x1="5" y1="12" x2="19" y2="12"></line>
                                    </svg>
                                  </a>{% endif %}
                                </div>
                            </td>
                            <td>
                              <div class="d-flex align-items-center">
                                <p class="f-light mb-0 me-2">{{ branch.building_count }}</p>
                                <a href="{% url 'buildings-list' branch.id %}" class="me-2 icon-align">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye">
                                    <path d="M1 12s3-9 11-9 11 9 11 9-3 9-11 9S1 12 1 12z"></path>
                                    <circle cx="12" cy="12" r="3"></circle>
                                  </svg>
                                </a>
                                <a href="{% url 'building-add' branch.id %}" class="icon-align">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus">
                                    <line x1="12" y1="5" x2="12" y2="19"></line>
                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                  </svg>
                                </a>
                              </div>
                          </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Container-fluid Ends -->
        </div>
        {% include "footer.html" %}
        <!-- Footer Start -->
    </div>
{% endblock %}
    