{% load static %}
{% include 'base.html' %}

{% block content %}
<!-- starts -->
    <div class="loader-wrapper">
      <div class="loader"> 
        <div class="loader4"></div>
      </div>
    </div>
    <!-- loader ends-->
    <!-- tap on top starts-->
    <div class="tap-top"><i data-feather="chevrons-up"></i></div>
    <!-- tap on tap ends-->
    <!-- page-wrapper Start-->
    <div class="page-wrapper compact-wrapper" id="pageWrapper">
      <!-- Page Header Start-->
      {% include 'header.html' %}
      <!-- Page Header Ends                              -->
      <!-- Page Body Start-->
      <div class="page-body-wrapper">
        {% include 'sidebar.html' %}
        <!-- Page Sidebar Start-->
       
        <!-- Page Sidebar Ends-->
        <div class="page-body">
          <div class="container-fluid">
            <div class="page-title">
              <div class="row">
                <div class="col-6">
                  <h4>Cameras</h4>
                </div>
                <div class="col-6">
                  <ol class="breadcrumb">
                      {% for crumb in breadcrumbs %}
                          <li class="breadcrumb-item">
                              <a href="{{ crumb.url }}">
                                  {% if crumb.url %}
                                      {{ crumb.title }}
                                  {% else %}
                                      <span>{{ crumb.title }}</span>
                                  {% endif %}
                              </a>
                          </li>
                      {% endfor %}
                  </ol>
              </div>
              </div>
            </div>
          </div>
          <!-- Container-fluid starts-->
          <div class="container-fluid">
            <div class="row"> 
              <div class="col-sm-12"> 
                <div class="card"> 
                  <div class="card-body">
                    <div class="list-product-header">
                      {% comment %} <a class="btn btn-primary" href="{% url 'camera-add' %}"><i class="fa fa-plus"></i>Add Camera</a> {% endcomment %}
                    </div>
                    <div class="list-product">
                      <table class="table" id="camera-status">
                        <thead> 
                          <tr> 
                            <th><span class="f-light f-w-600">Camera URL</span></th>
                            <th><span class="f-light f-w-600">Filial</span></th>
                            <th><span class="f-light f-w-600">Kameranı sil</span></th>
                          </tr>
                        </thead>
                        <tbody> 
                            {% for camera in cameras %}
                            <tr>
                             
                              <td>
                                <p class="f-light">{{ camera.url }}</p>
                              </td>
                              <td>
                                <p class="f-light">{{ camera.branch.name }}</p>
                              </td>
                              <td>
                                <form action="{% url 'camera-delete' pk=camera.id %}" method="post" style="display:inline;" onsubmit="return confirmDelete();">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                </form>
                              </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Container-fluid Ends-->
        </div>
        {% include "footer.html" %}
        <!-- footer start-->
        <script>
          function confirmDelete() {
              return confirm("Are you sure you want to delete this camera?");
          }
        </script>
      </div>
    </div>
{% endblock %}
