{% load static %}
{% include 'base.html' %}

{% block content %}
    <!-- Page Wrapper Start -->
    <div class="page-wrapper compact-wrapper" id="pageWrapper">
        <!-- Page Header Start -->
        {% include 'header.html' %}
        <!-- Page Header Ends -->

        <!-- Page Body Start -->
        <div class="page-body-wrapper">
            {% include 'sidebar.html' %}

            <!-- Page Body Content Start -->
            <div class="page-body">
                <div class="container-fluid">
                    <div class="page-title">
                        <div class="row">
                            <div class="col-12">
                                <h4>Səhifə tapılmadı</h4>
                                <p>Axtardığınız səhifə mövcud deyil.</p>
                                {% comment %} <a class="btn btn-primary" href="{% url 'home' %}">Go to Home Page</a> {% endcomment %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Container-fluid Starts -->
                <div class="container-fluid">
                    <!-- Optional additional content here -->
                </div>
                <!-- Container-fluid Ends -->
            </div>
            <!-- Page Body Content Ends -->

            {% include 'footer.html' %}
            <!-- Footer Start -->
        </div>
    </div>
{% endblock %}
