{% load static %}
{% include 'base.html' %}
{% block content %} starts-->
    <div class="loader-wrapper">
      <div class="loader"> 
        <div class="loader4"></div>
      </div>
    </div>
    <!-- loader ends-->
    <!-- tap on top starts-->
    <div class="tap-top"><i data-feather="chevrons-up"></i></div>
    <!-- tap on tap ends-->
    <!-- page-wrapper Start-->
    <div class="page-wrapper compact-wrapper" id="pageWrapper">
      <!-- Page Header Start-->
      <div class="page-header">
        <div class="header-wrapper row m-0">
          <form class="form-inline search-full col" action="#" method="get">
            <div class="form-group w-100">
              <div class="Typeahead Typeahead--twitterUsers">
                <div class="u-posRelative"> 
                  <input class="demo-input Typeahead-input form-control-plaintext w-100" type="text" placeholder="Search Riho .." name="q" title="" autofocus="">
                  <div class="spinner-border Typeahead-spinner" role="status"><span class="sr-only">Loading... </span></div><i class="close-search" data-feather="x"></i>
                </div>
                <div class="Typeahead-menu"> </div>
              </div>
            </div>
          </form>
          <div class="header-logo-wrapper col-auto p-0">  
            <div class="logo-wrapper"> <a href="index.html"><img class="img-fluid for-light" src="{% static  'images/logo/logo_dark.png' %}" alt="logo-light"><img class="img-fluid for-dark" src="{% static  'images/logo/logo.png' %}" alt="logo-dark"></a></div>
            <div class="toggle-sidebar"> <i class="status_toggle middle sidebar-toggle" data-feather="align-center"></i></div>
          </div>
          <div class="left-header col-xxl-5 col-xl-6 col-lg-5 col-md-4 col-sm-3 p-0">
            <div> <a class="toggle-sidebar" href="#"> <i class="iconly-Category icli"> </i></a>
              <div class="d-flex align-items-center gap-2 ">
                <h4 class="f-w-600">Welcome Alex</h4><img class="mt-0" src="{% static  'images/hand.gif' %}" alt="hand-gif">
              </div>
            </div>
            <div class="welcome-content d-xl-block d-none"><span class="text-truncate col-12">Here’s what’s happening with your store today. </span></div>
          </div>
          <div class="nav-right col-xxl-7 col-xl-6 col-md-7 col-8 pull-right right-header p-0 ms-auto">
           
          </div>
          <script class="result-template" type="text/x-handlebars-template">
            <div class="ProfileCard u-cf">                        
            <div class="ProfileCard-avatar"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-airplay m-0"><path d="M5 17H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-1"></path><polygon points="12 15 17 21 7 21 12 15"></polygon></svg></div>
            <div class="ProfileCard-details"> 
            <div class="ProfileCard-realName">{{name}}</div>
            </div> 
            </div>
          </script>
          <script class="empty-template" type="text/x-handlebars-template"><div class="EmptyMessage">Your search turned up 0 results. This most likely means the backend is down, yikes!</div></script>
        </div>
      </div>
      <!-- Page Header Ends                              -->
      <!-- Page Body Start-->
      <div class="page-body-wrapper">
        {% include 'sidebar.html' %}
        <!-- Page Sidebar Start-->
       
        <!-- Page Sidebar Ends-->
        <div class="page-body">
          <div class="container-fluid">
            <div class="page-title">
              <div class="row">
                <div class="col-6">
                  <h4>
                    Xidmətlər</h4>
                </div>
                <div class="col-6">
                  <ol class="breadcrumb">
                      {% for crumb in breadcrumbs %}
                          <li class="breadcrumb-item">
                              <a href="{{ crumb.url }}">
                                  {% if crumb.url %}
                                      {{ crumb.title }}
                                  {% else %}
                                      <span>{{ crumb.title }}</span>
                                  {% endif %}
                              </a>
                          </li>
                      {% endfor %}
                  </ol>
              </div>
              </div>
            </div>
          </div>
          <!-- Container-fluid starts-->
          <div class="container-fluid">
            <div class="row"> 
              <div class="col-sm-12"> 
                <div class="card"> 
                  <div class="card-body">
                    
                    <div class="list-product">
                      <table class="table" id="project-status">
                        <thead> 
                          <tr> 
                                <th> <span class="f-light f-w-600">Xidmətin adı</span></th>
                                <th> <span class="f-light f-w-600">Xidmətin qiyməti</span></th>
                                <th> <span class="f-light f-w-600">Ödəniş vaxtı</span></th>
                          
                          </tr>
                        </thead>
                        <tbody> 
                            {% for service in services %}
                        <tr class="product-removes">
                            <td> 
                              <div class="product-names">
                                <p>{{ service.name }}</p>
                              </div>
                           </td>
                           <td> 
                              <p class="f-light">{{ service.price }}</p>
                            </td>
                            <td> 
                                <p class="f-light">{{ service.invoice_day }}</p>
                            </td>
                      </tr>
                          {% endfor %}
                       </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Container-fluid Ends-->
        </div>
        {% include "footer.html" %}
        <!-- footer start-->
{% endblock %}