{% load static %}
{% include 'base.html' %}
{% block content %}
    <!-- loader starts-->
    <div class="loader-wrapper">
        <div class="loader"> 
            <div class="loader4"></div>
        </div>
    </div>
    <!-- loader ends-->
    <!-- tap on top starts-->
    <div class="tap-top"><i data-feather="chevrons-up"></i></div>
    <!-- tap on tap ends-->
    <!-- page-wrapper Start-->
    <div class="page-wrapper compact-wrapper" id="pageWrapper">
        <!-- Page Header Start-->
        {% include 'header.html' %}
        <!-- Page Header Ends                              -->
        <!-- Page Body Start-->
        <div class="page-body-wrapper">
            {% include 'sidebar.html' %}
            <!-- Page Sidebar Start-->
           
            <!-- Page Sidebar Ends-->
            <div class="page-body">
                <div class="container-fluid">
                    <div class="page-title">
                        <div class="row">
                            <div class="col-6">
                                <h4>Ödənişlər</h4>
                            </div>
                            <div class="col-6">
                                <ol class="breadcrumb">
                                    {% for crumb in breadcrumbs %}
                                        <li class="breadcrumb-item">
                                            <a href="{{ crumb.url }}">
                                                {% if crumb.url %}
                                                    {{ crumb.title }}
                                                {% else %}
                                                    <span>{{ crumb.title }}</span>
                                                {% endif %}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Container-fluid starts-->
                <div class="container-fluid">
                    <div class="row"> 
                        <div class="col-sm-12"> 
                            <div class="card"> 
                                <div class="card-body">
                                    <div class="list-product-header">
                                        <div> 
                                            <a class="btn btn-primary" href="{% url 'payment-add' %}"><i class="fa fa-plus"></i>Ödəniş əlavə et</a>
                                        </div>
                                    </div>
                                    <div class="list-product">
                                        <table class="table" id="project-status">
                                            <thead> 
                                                <tr> 
                                                    <th><span class="f-light f-w-600">Mənzil</span></th>
                                                    <th><span class="f-light f-w-600">Məbləğ</span></th>
                                                    <th><span class="f-light f-w-600">Xidmət</span></th>
                                                    <th><span class="f-light f-w-600">Tarix</span></th>
                                                </tr>
                                            </thead>
                                            <tbody> 
                                                {% for payment in payments %}
                                                <tr class="product-removes">
                                                    <td> 
                                                        <p>{{ payment.flat }}</p>
                                                    </td>
                                                    <td> 
                                                        <p class="f-light">{{ payment.amount }}</p>
                                                    </td>
                                                    <td>
                                                        <p class="f-light">{{ payment.service.name }}</p>
                                                    </td>
                                                    <td>
                                                        <p class="f-light">{{ payment.date }}</p>
                                                    </td>
                                                </tr>
                                                {% empty %}
                                                <tr>
                                                    <td colspan="4">Heç bir ödəniş mövcud deyil.</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Container-fluid Ends-->
            </div>
            {% include "footer.html" %}
            <!-- footer start-->
        </div>
    </div>
{% endblock %}
