{% extends 'base.html' %}

{% block content %}
    <!-- loader starts-->
    <div class="loader-wrapper">
        <div class="loader"> 
            <div class="loader4"></div>
        </div>
    </div>
    <!-- loader ends-->

    <!-- tap on top starts-->
    <div class="tap-top"><i data-feather="chevrons-up"></i></div>
    <!-- tap on tap ends-->

    <!-- page-wrapper Start-->
    <div class="page-wrapper compact-wrapper" id="pageWrapper">

        <!-- Page Header Start-->
        {% include 'header.html' %}
        <!-- Page Header Ends -->

        <!-- Page Body Start-->
        <div class="page-body-wrapper">
            {% include 'sidebar.html' %}
            <!-- Page Sidebar Start-->
            <!-- Page Sidebar Ends-->

            <div class="page-body">
                <div class="container-fluid">
                    <div class="page-title">
                        <div class="row">
                            <div class="col-6">
                                <h4>Xidmətin Detalları</h4>
                            </div>
                            <div class="col-6">
                                <ol class="breadcrumb">
                                    {% for crumb in breadcrumbs %}
                                        <li class="breadcrumb-item">
                                            <a href="{{ crumb.url }}">
                                                {% if crumb.url %}
                                                    {{ crumb.title }}
                                                {% else %}
                                                    <span>{{ crumb.title }}</span>
                                                {% endif %}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Container-fluid starts-->
                <div class="container-fluid">
                    <div class="row"> 
                        <div class="col-12"> 
                            <div class="card"> 
                                <div class="card-body">
                                    <div class="news-details">
                                        <h2>{{ service.name }}</h2><br>
                                        <p><strong>Qiymət:</strong> {{ service.price }}</p>
                                        <p><strong>Ödəniş günü:</strong> {{ service.invoice_day }}</p>
                                        <p class="f-light">{{ service.created_at }}</p> <!-- Add this if your model has a created_at field -->
                                        <a class="btn btn-primary btn-custom" href="{% url 'services' %}">Geri</a>
                                        <a class="btn btn-primary btn-custom" href="{% url 'service-edit' service.pk %}">Dəyiş</a>
                                       <form action="{% url 'service_delete' service.pk %}" method="post" style="display:inline;">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-secondary btn-custom">Sil</button>
                                        </form> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Container-fluid Ends -->
            </div>

            {% include "footer.html" %}
            <!-- footer start -->
        </div>
    </div>
{% endblock %}
