{% load static %}
{% include 'base.html' %}

{% block content %}
<!-- starts -->
<div class="loader-wrapper">
    <div class="loader"> 
        <div class="loader4"></div>
    </div>
</div>
<!-- loader ends -->

<!-- tap on top starts-->
<div class="tap-top"><i data-feather="chevrons-up"></i></div>
<!-- tap on tap ends-->

<!-- page-wrapper Start-->
<div class="page-wrapper compact-wrapper" id="pageWrapper">
    <!-- Page Header Start-->
    {% include 'header.html' %}
    <!-- Page Header Ends -->

    <!-- Page Body Start -->
    <div class="page-body-wrapper">
        {% include 'sidebar.html' %}
        <!-- Page Sidebar Ends -->

        <div class="page-body">
            <div class="container-fluid">
                <div class="page-title">
                    <div class="row">
                        <div class="col-6">
                            <h4>İstifadəçinin profili</h4>
                        </div>
                        <div class="col-6">
                            <ol class="breadcrumb">
                                {% for crumb in breadcrumbs %}
                                    <li class="breadcrumb-item">
                                        <a href="{{ crumb.url }}">
                                            {% if crumb.url %}
                                                {{ crumb.title }}
                                            {% else %}
                                                <span>{{ crumb.title }}</span>
                                            {% endif %}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Container-fluid starts -->
           
            <!-- Container-fluid Ends -->

            <!-- User Profile Section Start -->
            <div class="container-fluid mt-4">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            
                            <div class="card-body">
                                <p><strong>Adı:</strong> {{ user.username }}</p>
                                <p><strong>Telefon nömrəsi:</strong> {{ user.phone_number }}</p>
                                <p><strong>Filial:</strong> {{ user.branch }}</p>
                                <p><strong>Bina:</strong> {{ user.building }}</p>
                                <p><strong>Balans:</strong> {{ user }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- User Profile Section Ends -->

        </div>

        {% include 'footer.html' %}
        <!-- footer start -->
    </div>
</div>

{% endblock %}
